<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    <h1>{{title}}</h1>
    <table border ="1">
        <thead>
        <tr>
            <th>Item</th>
            <th>Price</th>
            <th>Order</th>
        </tr>
        </thead>
        {{#each item}}
            <tr class="item" id="item{{@key}}">
                <td>{{name}}</td>
                <td>{{price}}</td>
                <td>
                    <form method="post" action="/order/{{_id}}">
                        <label>Quantity<input name ="quantity" type="number"></label>
                        <button>Submit</button>
                    </form>
                </td>
            </tr>
        {{/each}}
    </table>
</body>
</html>