<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    <h1>{{title}}</h1>
    <table border ="1">
        <thead>
        <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Order</th>
        </tr>
        </thead>
        {{#each item}}
            <tr class="item" id="item{{@key}}">
                <td>{{name}}</td>
                <td class="col"> {{quantity}}</td>
                <td>
                    <form method="post">
                        <input type="number">
                        <button>Order</button>
                    </form>
                </td>
            </tr>
        {{/each}}
    </table>
</body>
</html>