<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
<h1>{{title}}</h1>
<table border ="1">
    <thead>
    <tr>
        <th>Item</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Ordered on</th>
    </tr>
    </thead>
    {{#each item}}
        <tr class="item" id="item{{@key}}">
            <td>{{order.name}}</td>
            <td>{{quantity}}</td>
            <td>{{order.price}}</td>
            <td>{{date}}</td>
        </tr>
    {{/each}}
</table>
</body>
</html>