<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
<h1>Welcome {{user}}</h1>
    <h2>{{type}} details</h2>
    <p>Product:{{name}}</p>
    <p>Price:{{price}}</p>
</body>
</html>