<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
<h2>Welcome {{user}}</h2>
    <h1>{{type}} details</h1>
    <p>Product:{{name}}</p>
    <p>Price:{{price}}</p>
</body>
</html>